*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
#card{
    height: 500px;
    width:  350px;
    border-radius: 10%;
    background-color: #fff ;
    padding: 30px;
    text-align: center;

}
#card img{ 
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;

}
#card h1{
    font-size: 22px;   
    margin: 20px 0px;
}
#card h5{
      font-size: 25px;
      color: rgb(0, 0, 0);
      margin-bottom: 20px;
}
#card button{
   background-color: cadetblue;
   font-weight: 100;
   margin: 8px;
   border: none;
   color: black;
   padding: 12px 10px;
   border-radius: 5px;
   cursor: pointer;
}
#card #remove{
    background-color: grey;
    color: #111;
}